*{
    font-family: 'Arial';
}

.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion{
    width: 1280px;
    height: 720px;    
}

.intro {
    align-self: center;
}

.intro h2{
    font-size: 50px;
}

.intro p{
    font-size: 25px;
}
